<% if (title) { %>
<h1><%= title %></h1>

<form action="">
    <div class="simetric"> 
        <label>Email:</label>
            <input type="text" name="Email" id="email">
    
    
         <label>Password:</label>
            <input type="text" name="Password" id="password">
    
        <button>LOGIN</button>
    </div>
    
        <p class="myForm">
            No account? <a href="Sign up">Sign up</a>
        </p>

</form>
<% } else {
    res.redirect('/')
} %>

<%- message %>