<% if (title) { %>
<h1><%= title %></h1>
<div class="aviso"> <%- messages() %> </div>
<form>
    
        <label>Email:</label>
            <input type="email" name="Email" id="email" required>
    
    
         <label for="accountPassword">Password:</label>
            <input type="password" name="account_password" title="Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character" id="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
    
        <button>LOGIN</button>
    
        <p class="myForm"> No account? <a href="/account/register">Sign-up</a></p>

</form>
<% } else {
    res.redirect('/account')
} %>

