<h1><%= title %></h1>
<div class="aviso"> <%- messages() %> 
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %></div>


<h2>Welcome Visitor</h2>
<p>You're logged in.</p>
<a href="/account/changeinfo">Edit Account information</a>



<% if (account_type === "Employee"){ %>
  <h2>Inventory Management</h2>
  <a href="/inv/management">Manage Inventory</a>
<% } else if (account_type === "Admin"){ %>
  <a href="/inv/management">Manage Inventory</a>
  <% } else{ %>
    <p>Only "Admin" or "Employee" accounts have access to inventory management</p>
  <% } %>