<header id="top-header" class="myHeader">
  <span class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>
  <div id="tools" class="tools">
    <div class="linklogin">  
      <a title="Click to log in" href="/account/login">MY ACCOUNT</a>

    </div>

    <div class="linksHidden"> 
    <a title="Click to go to loginview" href="/account/loginview">Welcome</a>
    
    <a title="Click to logout" href="/account/logout">LOGOUT</a>
    </div>
</div>
</header>
