
/* Colors */

:root {

   --primary-text: #242333;

   --primary-background: #fff;

   --body-font: Inter;

   --heading-font: Literata;

   --main-accent: #01b0d3;

}


/* index.ejs */

#hero {

   background-image: url("/images/vehicles/delorean.jpg");

   background-repeat: no-repeat;

   background-size: contain;

   background-position: center;

   margin-left: auto;

   margin-right: auto;

   display: flex;

}

 

#hero h2 {

   margin-left: 0;

}

 

#hero a:hover {

   opacity: 0.5;

}

 

#hero li {

   list-style: none;

   color: var(--main-accent);

}

 

#hero li h2 {

   margin-top: 0;

   margin-bottom: 0;

   color: var(--main-accent);

}

 

#hero ul {

   padding-left: 0;

   margin-top: 0;

   max-width: 200px;

   margin-left: 0.5em;

   margin-bottom: 2rem;

   background-color: rgba(255, 255, 255, 0.7);

}

 

#hero li {

   font-size: 0.85em;

}

 

#actionbtn {

   display: inline-block;

   max-width: 25vw;

   max-height: 10vh;

   padding: 0.5rem;

   background-color: var(--main-accent);

   color: var(--primary-text);

   font-weight: 800;

   border-radius: 0.25rem;

}

 

#actionbtn:hover {

   opacity: 0.5;

}

 

/* For Delorian list */

section ul {

   padding: 0 0 0 1rem;

}

 

#review li {

   font-size: 0.9em;

   margin-bottom: 1em;

}

 

.flex {

   display: flex;

   margin-bottom: 2em;

   justify-content: center;

   width: 100%;

   padding-left: 0.25em;

}

 

.flex a {

   width: 100%;

}

 

.add-col {

   background-color: var(--main-accent);

   height: 5.5em;

   width: 95%;

   border: var(--primary-text) solid 1px;

}

 

a figure {

   margin: 0;

}

 

figure img {

   display: block;

   margin: auto;

   padding-top: 0.5em;

}

 

figure figcaption {

   text-align: center;

}

 

section {

   margin-bottom: 2em;

   margin-top: 1em;

}

 

@media only screen and (min-width: 768px) {

   /* index.ejs */

   #hero ul {

       font-size: 1.6em;

       margin-left: 2em;

       margin-top: 1em;

   }

 

   #actionbtn {

       display: block;

       width: 90%;

       margin-top: 1.5em;

       padding: 1rem;

       background-color: var(--main-accent);

       color: var(--primary-text);

       font-weight: 800;

       font-size: large;

   }

 

   .flex-content {

       display: flex;

       justify-content: space-between;

       gap: 1vw;

   }

 

   #add-ons,

   #review {

       margin-top: 0;

       flex: 1 0 45%;

   }

 

   #review h2,

   #add-ons h2 {

       font-size: 1.4em;

       margin-bottom: 2em;

   }

 

   #add-ons {

       order: -1;

   }

 

   #review li {

       font-size: 1.1em;

   }

 

   #add-ons {

       width: 45%;

   }

}