<h1><%= title %></h1>
<div class="aviso"> <%- messages() %> 
</div>

<form id="addClassification" action="/add-classification" method="post">
    
        <label>Classification Name</label>
        <label>NAME MUST BE ALPHABETIC CHARACTERS ONLY </label>
            <input type="text" name="classification_name" id="classificationName" required value="<%= locals.classification_name %>">
        <button class="addClassificationbutton">Add Classification</button>
</form>