<h1><%= title %></h1>
<div class="aviso"> <%- messages() %> 
</div>

<form id="addInventory" action="" method="post">
    
        <label>Email:</label>
            <input type="text" name="classification_name" id="classificationName" required value="<%= locals.classification_name %>">
    
    
         
            <input type="password" name="account_password" title="Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character" id="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
    
        <button>Add Classification</button>
    
        

</form>