<h1><%= title %></h1>
<div class="aviso"> <%- messages() %> 
</div>

<div class="newlinks">
    <a href="/views/inventory/add-classification.ejs">Add New Classification</a>
    <a href="">Add New Vehicle</a>
</div>
