<h1><%= title %></h1>
<div class="aviso"> <%- messages() %> 
<% if (errors) { %>
<ul class="notice">
<% errors.array().forEach(error => { %>
<li><%= error.msg %></li>
<%  }) %>
</ul>
<% } %>
</div>

<div class="newlinks">
    <a href="/inv/add-classification">Add New Classification</a>
    <a href="/inv/add-inventory">Add New Vehicle</a>
</div>

<h2>Manage Inventory</h2>

<p>Choose a classification to see those inventory items.</p>

<!-- Below the paragraph, add an EJS code block to display the classification list. -->
<%- classificationSelect %>

<table id="inventoryDisplay"></table>

<noscript>JavaScript must be enabled to use this page.</noscript>




<script src="../../js/inventory.js"></script>